@inherits LayoutComponentBase

    <AuthorizeView>
        <Authorized>   
            <header>
                <NavMenu/>
            </header>
            <main>
                <article class="content px-4">
                    @Body
                </article>
            </main>
        </Authorized>
        <NotAuthorized>
            <main>
                <div class="d-flex justify-content-center">
                    <div class="col-md-6 col-12 px-2 py-5">
                        @Body
                    </div>
                </div>
            </main>
        </NotAuthorized>
    </AuthorizeView>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>