@implements IDisposable

@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">FilmTV</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Watchlist</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="Add">Add</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="weather">Weather</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="auth">Auth Required</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="Account/Manage" Match="NavLinkMatch.Prefix">@context.User.Identity?.Name</NavLink>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </Authorized>
</AuthorizeView>
            

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}